/* .wrapper {
    display: flex;
}  */

.img-container {
    width: 60%;
    margin: 30px auto;
    position: relative;
}

img{
    width: 100%;
}

.d-none {
    display: none;
}

.img-title, .img-cap {
    position: absolute;
    color: white;
    right: 20px;
}

.img-title {
    top: 20px; 
}

.show {
    display: block;
}

.img-cap {
    top: 40px;
}